* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    color: #ffd166;
    list-style: none;
    text-decoration: none;
}

/* VARIABLES */

:root {
    --backgroundColor: #073b4c;
    --fontColor: #ffd166;
    --otherColor: #118ab2;
}

/* KEYFRAMES */

@keyframes enlargeItem{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1,2);
    }
}

@keyframes buttonBackground{
    from {
        background-color: transparent;
    }
    to {
        background-color: rgba(22, 197, 255, 0.42);
    }
}

/* BODY */

header {
    height: 100vh;
    background-image: url(/img/office-1081807_1920.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -1;
}

.fade {
    background-color: rgba(5, 42, 54, 0.3);
}

.banner {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #073b4c;
    position: absolute;
    top: 0;
    left: 0;
}

.info {
    grid-row: 1/1;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}

.logo {
    grid-row: 1/1;
    grid-column: 1/2;
    justify-self: center;
}

span {
    color: #ffbf2a;
    font-weight: bold;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    position: absolute;
    top: 18%;
    right: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
}

nav ul {
    width: 50%;
    max-width: 1000px;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    width: calc(100%/5);
    text-align: center;
    padding: 5px;
    border: 0px solid ;
    border-radius: 10%;
}

nav ul li a {
    width: 100%;
    line-height: 64px;
    font-size: 24px;
    letter-spacing: 1px;
}

.sidebar {
    height: 100%;
    width: 10%;
    max-width: 150px;
    display: flex;
    position: fixed;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 1;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
    top: 0;
    left: 0;
    background-color:  rgba(17, 138, 178, 0.8);
    color: #ffbf2a;
}

.sidebar ul li {
    margin: 5px auto;
}

.sidebar ul li a {
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 22px;
}

i {
    font-size: 20px;
}

/* HOVERS */

nav ul li:hover {
    cursor: pointer;
    /* background-color: rgba(22, 197, 255, 0.42); */
    border-bottom: 3px solid #073b4c;
    animation: buttonBackground 0.4s forwards;
}

.sidebar ul li:hover a, .sidebar ul li:hover i{
    color: #ffba19;
    transform: scale(1.3);
}