* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    color: #edf2f4;
    list-style: none;
    text-decoration: none;
}

/* VARIABLES */

:root {
    --fontColor: #edf2f4;
    --otherColor: #118ab2;
    --plateColor: #8d99ae;
    --mainColor: #2b2d42;
}

/* KEYFRAMES */

@keyframes buttonBackground{
    from {
        background-color: transparent;
    }
    to {
        background-color: rgba(22, 197, 255, 0.42);
    }
}

/* BODY */

header {
    height: 100vh;
    background-image: url(/img/office-1081807_1920.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -1;
}

.fade {
    background-color: rgba(5, 42, 54, 0.3);
}

.banner {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #073b4c;
    position: absolute;
    top: 0;
    left: 0;
}

.info {
    grid-row: 1/1;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}

.logo {
    grid-row: 1/1;
    grid-column: 1/2;
    justify-self: center;
}

span {
    color: white;
    font-weight: bold;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    margin: 50px;
    position: absolute;
    top: 120px;
    right: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
}

nav ul {
    width: 50%;
    max-width: 1000px;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    width: calc(100%/5);
    text-align: center;
    padding: 5px;
    border: 0px solid ;
    border-radius: 10%;
}

nav ul li a {
    display: block;
    width: 100%;
    line-height: 64px;
    font-size: 24px;
    letter-spacing: 1px;
}

.sidebar {
    height: 100%;
    width: 10%;
    max-width: 150px;
    display: flex;
    position: absolute;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 1;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
    top: 0;
    left: 0;
    background-color:  rgba(17, 138, 178, 0.8);
}

.sidebar ul li {
    margin: 5px auto;
}

.sidebar ul li a {
    display: block;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 26px;
}

.sidebar i {
    font-size: 26px;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 150px 12%;
    background-color:var(--mainColor);
}

.productplate {
    height: 450px;
    min-height: 450px;
    width: calc(80%/3);
    max-width: calc(1000px/3);
    text-align: center;
    background-color:var(--plateColor);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10%;
}

.iconcircle {
    height: 90px;
    width: 90px;
    border: 1px solid #073b4c;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -20%;
    transform: translate(-50%, 50%);
    background-color: #118ab2;
}

.productplate p {
    font-size: 22px;
    margin: 50px 20px;
    padding: 5px 10px;
    color: var(--mainColor);
}

.productplate i {
    padding: 10px;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.productplate ul li {
    height: 50px;
    width: 150px;
    line-height: 50px;
    background-color: var(--otherColor);
    box-shadow: 10px 10px #052d3a;
    text-align: center;
    margin: 20px auto;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.productplate ul li a {
    display: block;
    font-size: 18px;
    line-height: 50px;
}

/* HOVERS */

nav ul li:hover {
    cursor: pointer;
    border-bottom: 3px solid #073b4c;
    animation: buttonBackground 0.4s forwards;
}

.sidebar ul li:hover a, .sidebar ul li:hover i{
    color:var(--mainColor);
    transform: scale(1.3);
}

.productplate ul li:hover {
    cursor: pointer;
}

.productplate ul li:hover a {
    color:var(--mainColor);
}